{% extends "education/base.html" %}
{% block body %}
<h1>{{ task.title }}</h1>
<h5>{{ task.created_date }}</h5>
<p>{{ task.instructions }}</p>
<b>Выполнить до {{ task.deadline }}</b>
<br>
<i>Баллы: {{ task.points }}</i>
<h5>Отправить задание:</h5>
<form method="post">
    {% csrf_token %}
    <p>{{ form.content }}</p>
    <div class="errors">
        {% if form.errors %}
            {%for i in form.non_field_errors %}
            <p>{{ i }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <input type="submit" value="Отправить">
</form>

{% endblock %}
